.footer{
    display: flex;
    justify-content: flex-end;
    background-color: white;
    color: black;
    border-top: solid 1px black;
    height:40px;
    position: sticky;
    top: 0;
    left: 0;

    
}
ul{
float: left;


}
ul>li{
display: inline-block;
margin: 5px;
}