.login__image{
   
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
}
.login__panel{
   display: flex;
   justify-content: center;
}
.form__container{
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
}
.login__view{
    margin-bottom: 75px;
    margin-top: 50px;
}
