<div class="login__view">
    <h1 class="login__title">Zaloguj się</h1>
    <div class="login__panel">
        <img class="login__image" src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png">
    </div>
    <div class="form__container">
        <form class="form__login">
            <label></label>
                <input formControlName="login" type="text"><br>
            <label></label>
                <input formControlName="password" type="password"><br>
            <button type="submit">Dalej</button>
        </form>
     
</div>
</div>
            
    
    