<app-date-panel (dateExport)="dateImport($event)"></app-date-panel>
<div class="wrapper" *ngFor="let film of films">
  <div class="img-container">
    <img class="img" src="../../assets/images/{{film.img}}">
    </div>
    <div class="movie-card">
  
      <div class="text-container">
      <h3 class="movie-title" >{{ film.title }}</h3>
      <h4 class="movie-facts">{{ film.genre }} | {{film.length}} | {{film.ageRest}}</h4>
    </div>
      <h5 class="movie-score">{{film.score}}</h5>
      <div class="description-container">
      <p class="tekst" [ngClass]="{'limitTextHeight': isReadMore}">{{film.description}}</p>
      </div>  
        <a class="movie-card__showMore" (click)="showText()">{{ isReadMore ? 'Więcej': 'Schowaj' }}</a>
        <div class="btn-container">
        <button #hourSelector class="movie-card__hours" *ngFor="let show of getShows(film.id), let hourIndex = index" routerLink="/reservation/{{selectedDate | date:'YYYY-MM-dd'}}/{{show.id}}">{{show.hour}}</button>
        </div>
      </div>
    </div>
