<app-date-panel (dateExport)="dateImport($event)"></app-date-panel>
<!-- <app-card *ngFor="let video of films" [films]="video" [selectedDate]="selectedDate"></app-card> -->

<!-- <div *ngIf="repertoire$ | async as repertoire">
    <div *ngFor="let oneRepertoire of repertoire">
        <div *ngFor="let showsIds of oneRepertoire.shows" >{{showsIds}}
            <div *ngIf="films$"> -->
            <!-- <ng-container *ngIf="films$ | async as films" >
            </ng-container> -->
            <!-- </div> -->
        <!-- </div>
        </div>
    </div> --> 

    

    <!-- <div *ngIf="repertoire$ | async as repertoire">
        <div *ngFor="let oneDayRepertoire of getRepertoireByDate(repertoire,selectedDate)">{{oneDayRepertoire.shows}}
        <div *ngIf="films$ | async as films">
            <div *ngFor="let show of oneDayRepertoire.shows">
            <div *ngFor="let videoo of returnFilmsById(films,show)"> {{videoo.title}}</div>
            <button ></button>
            <button (click)="testklik()">Działa?</button>
            </div>
        </div>
    </div>
</div> -->
<div *ngIf="repertoire$ | async as repertoire">
    <div *ngFor="let oneDayRepertoire of getRepertoireByDate(repertoire,selectedDate)">
        <div *ngIf="films$ | async as films">
            <div *ngFor="let show of oneDayRepertoire.shows">
                    <app-card *ngFor="let video of returnFilmsById(films,show)" [films]="video" [selectedDate]="selectedDate" ></app-card>
            </div>
        </div>
    </div>
</div>





    <!-- zmienic metode na filtrujaca -->