<div class="table-container" *ngIf="cart$ | async as cart">
  <table>
    <tr>
      <th class="thTitle">Tytuł filmu</th>
      <th class="properClr">Godz</th>
      <th class="properClr">Miejsce</th>
      <th class="properClr">Typ biletu</th>
      <th class="properClr">Sala</th>
      <th class="properClr">Cena</th>
    </tr>

    <tr *ngFor="let cartItem of cart">
      <th>{{ cartItem.movieTitle }}</th>
      <th>{{ cartItem.hour }}</th>
      <th>{{ cartItem.id }}</th>
      <th>{{ cartItem.seat.type }}</th>
      <th>{{ cartItem.screen }}</th>
      <th>{{ cartItem.seat.price }}</th>
    </tr>

    <tr *ngIf="cart$ | async as cart" class="sum">
      <th>Łączna wartość zamówienia {{ getFullPrice(cart) + "PLN" }}</th>
    </tr>
  </table>
</div>
