
<form [formGroup]="showForm" *ngIf="data&&films$ | async as films">
  <h1 >Data {{data.date}} Sala {{data.sala}}</h1>
      
        <label>Film</label>
        <select formControlName="filmId">
          <option [ngValue]="film.id" *ngFor="let film of films">{{film.title}}</option>
        </select>
        <label>Godzina</label>
        <input type="time" min="08:00" max="12:00" formControlName="hour">
        <div *ngIf="repertoire$ | async as repertoire">
          <div *ngFor="let oneDayRepertoire of filterRepertoireByDate(repertoire,data.date)">{{oneDayRepertoire.shows}}
            <!-- <div *ngFor="let showsInChosenScreen of filterShowsByScreen(oneDayRepertoire.shows,data.sala)"></div> -->




            <button (click)="submit(oneDayRepertoire)">Klik</button>
            <div *ngFor="let id of oneDayRepertoire.shows">
              <div *ngIf="shows$ | async as shows">
                <div *ngFor="let show of filterShowById(shows,id,data.sala)">{{show.hour}}</div>
              </div>
             
            </div>
          </div>
        </div>
        
        
<button (click)="klik()">KLIK</button>

