   
<div class="order-completed-container">
    <div class="details-container">
    <app-order-details></app-order-details>   
    </div> 
    <div class="title">
        <h1 class="order-title"></h1>
   
    <div class="order-completed-info">
        <div class="order-completed-userdata">
            <p class="full-name">Imię: {{service.userdata.name}} {{service.userdata.surname}}</p>
            <p class="email">Email: {{service.userdata.email}}</p>
            <p class="phone">Numer telefonu : {{service.userdata.phone}} </p>
            </div>
            
        </div>
    </div>
</div>
