.form__container{
    display: flex;
    justify-content: center;
}
.input{
    margin-right: 2vw;
    margin-top: 30px;
    
}
.title{
    display: block;

}
.order{
    display: block;
}
.data-container{
    display: flex;
    justify-content: center;
  
}
.form-container{
   display: flex;
   justify-content: center;
    height: 700px;
}
.user-errors{
    width: 200px;
    height: 200px;
}
.container-box{
    height: 75vh;
    display: flex;
    justify-content: center;
}
input{
    width: 280px;
}
button{
    width: 280px;
}
