<div class="window" *ngIf="cart$ | async as cart">
  <div class="reservation__display" *ngIf="show$ | async as shows">
    <div  *ngFor="let show of returnShowById(shows, showId)">
      <div *ngIf="films$ | async as films">
        <div *ngFor="let film of returnFilmsById(films, show.filmId)">
          <app-reservation-grid
            [film]="film"
            [date]="selectedDate"
            [show]="show"
          ></app-reservation-grid>
          <div >
            <app-ticket-type-form
              *ngFor="
                let cartItem of cartService.filterCartByShowId(cart, show.id)
              "
              [show]="show"
              [cart]="cartItem"
            >
          </app-ticket-type-form>
          </div> 
        </div>
      </div>
      <div class="btn-div">
      <button class="order-nav center"  routerLink="/order" (click)="reserveSeats(cart,show)">Zamawiam!</button>
    </div>
    </div>
    
  </div>
  
  <!-- routerLink="/order"  -->
</div>
