<div class="window">
  <div class="reservation__display" *ngIf="show$ | async as shows">
    <div *ngFor="let show of returnShowById(shows, showId)">
      <div *ngIf="films$ | async as films">
        <div *ngFor="let film of returnFilmsById(films, show.filmId)">
          <app-reservation-grid
            [film]="film"
            [date]="selectedDate"
            [show]="show"
          ></app-reservation-grid>
          <div *ngIf="cart$ | async as cart">
            <app-ticket-type-form
              *ngFor="
                let cartItem of cartService.filterCartByShowId(cart, show.id)
              "
              [show]="show"
              [cart]="cartItem"
            >
          </app-ticket-type-form>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <button class="order-nav" routerLink="/order" >Zamawiam!</button>
  
</div>
