.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter{
    padding: 3px;
    font-size: 20px;
}
.number{
    padding: 3px;
    font-size: 20px;
    &:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }
}

.addedToReservation{
    background-color: orange;
    color: black;
}



.reservation__letters {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
  }
  
  .reservation__ekran {
    margin-bottom: 30px;
  }
  
  .nr {
    cursor: pointer;
  }
  
  .ltr {
    padding: 7px;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
  }
  .reservation__number {
    flex: 1;
    padding: 5px;
    margin: 3px;
  color: white;
    cursor: pointer;
    background-color: #007FFF;
    width: 30px;
    display: inline-block;
    text-align: center;
    border: 2px solid #007FFF;
  
    &:hover{
      background-color: white;
      color:#007FFF ;
      border: 2px solid #007FFF;
    }
  }
  .reservation__net {
    margin-top: 30px;
    border: 1px solid black;
  }
  
  .reservation__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .reservation__title-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
  }
  .reservation__display {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-bottom: 4px solid #007FFF;;
  }
  
  .ng {
    background-color: white;
    height: 20vh;
    // width: 80vw;
    margin: auto;
    color: black;
  }
  .aa {
    width: 500px;
    height: 500px;
    background-color: black;
  }
  .box-container {
    min-height: 75vh;
  }
  
  .reservation-panel__order-container {
    display: flex;
    justify-content: center;
    margin-right: 5px;
    font-size: 15px;
    margin-bottom: 15px;
  
    &-chosen-seats {
      padding-right: 5px;
      justify-content: center;
      display: flex;
      align-items: center;
      gap: 15px;
    }
    mat-select {
      padding: 0 !important;
    }
  }
  
  button {
    margin: 5px;
    background-color: black;
    color: white;
  }
  .list {
    min-height: 50px;
    align-items: center;
    gap: 30px;
    width: 400px;
  
    &-item{
      display: flex;
      justify-content: center;
      
      width: 300px;
    }
  
    &-container{
      display: flex;
      justify-content: center;
    }
  }
  .btn-order{
      min-width: 100px;
      height: 40px;
      margin-top: 20px;
      margin-bottom: 20px;
  
      &-container{
        display: flex;
        justify-content: center;
      }
  }
  
  .btn-remove{
    position: absolute;
    right: 0px;
  }
  
  .seats-title{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rsrv{
    min-height:80%;
  }
  
  .taken{
    background-color: red !important;
  
  }
  .free{
    background-color: green !important;
  }
  
  
  button:disabled,
  button[disabled]{
    border: 1px solid #cccccc !important;
    background-color: #cccccc !important;
    color: #666666 !important;
    border-radius: 10px;
  }
  
  @media screen and (max-width:650px){
    .reservation__number{
      height: 18px;
      width: 18px;
      text-align: center;
  
      padding: 0px;
    }
    .ltr{
      height: 18px;
      width: 18px;
      font-size: 20px;
      padding: 0px;
    }
    .reservation__letters {
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .resevation__title-box{
      
    }
    .card{
      width: 320px;
      min-height: 100px;
      display: flex;
     
    }
    .btns-div{
      display: flex;
      flex-direction: column;
    }
    .reservation-panel__order-container-chosen-seats{
      display: flex;
      flex-direction: column;
    }
  }
  
  .addedToReservation{
    background-color: orange !important;
    color: black;
    border: 2px solid yellow;
    border-radius: 10px;
    
    &:hover{
      background-color: orange;
    color: black;
    border: 2px solid yellow;
    border-radius: 10px;
    cursor:default;
    }
  }
  
  .reservation-grid-net{
    display: flex;
    flex-direction: column;
  }
  
  .grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid gray;
    margin-bottom: 20px;
   
  }


  .disabled{
    background-color: gainsboro;
    color: black;
  }