<!-- <div class="data-container" *ngFor="let line of uniqueFilms">
    <div class="title">
      <p>Tytuł filmu: {{filmRepository.getFilmByShow( line.seat.show_id ).title}}, {{line.seat.show_id}} godz. {{filmRepository.getShow( line.seat.show_id ).hour}}</p><br>
        <div class="order" *ngFor="let sLine of getSeats(line.seat.show_id ,line.seat.date )">
  
          <p>Miejsce: {{sLine.seat.name}} Typ biletu: {{sLine.seat.price.type}} Cena: {{sLine.seat.price.price}} Sala: {{filmRepository.getShow( sLine.seat.show_id ).screen}} </p>
        </div>
    </div>
  </div>
  <div class="sum-container"  *ngIf="cart.itemCount">
      <div>
          <p>Razem biletów : {{cart.itemCount}}</p>
          <p class="sum">Łączna wartość zamówienia: {{cart.cartPrice}}</p>
      </div>
  </div> -->


<div class="table-container">
  <table  *ngFor="let line of uniqueFilms">
   
    <tr>
      <th class="thTitle">Tytuł filmu</th>
      <th class="properClr">Godz</th>
      <th class="properClr">Miejsce</th>
      <th class="properClr">Typ biletu</th>
      <th class="properClr">Sala</th>
      <th class="properClr">Cena</th>
    </tr>
    
    <tr *ngFor="let sLine of getSeats(line.seat.show_id ,line.seat.date ) ">
      <th >{{filmRepository.getFilmByShow( line.seat.show_id ).title}}</th>
      <th>{{filmRepository.getShow( line.seat.show_id ).hour}}</th>
      <th>{{sLine.seat.name}}</th>
      <th>{{sLine.seat.price.type}}</th>
      <th>{{filmRepository.getShow( sLine.seat.show_id ).screen}}</th>
      <th>{{sLine.seat.price.price}}</th>
    </tr>
    
    
  </table>

  <tr  *ngIf="cart.itemCount" class="sum">
    <th>Razem biletów  {{cart.itemCount}}</th>
    <th>Łączna wartość zamówienia: {{cart.cartPrice}}</th>
  </tr>

</div>