<div class="addshow">
  <div class="addshow__container">
    <div class="addshow__form">
      <form [formGroup]="showForm" (ngSubmit)="submit()">
        <!-- <mat-form-field appearance="outline"> -->
          <!-- <mat-label>Link do plakatu</mat-label> -->
          <select
          placeholder="img"
          type="date"
          formControlName="date"
          min=date
          required>
            <option [disabled]="true" selected>Data</option>
            <option *ngFor="let day of dates" [value]="day">{{day}}</option>
          </select>
          <!-- <mat-error *ngIf="getErrorMessage('email')">{{ getErrorMessage('email') }}</mat-error> -->
        <!-- </mat-form-field> -->
        <select *ngIf="screen$ | async as screens" formControlName="sala">
            <option   [value]="0">Sala nr 0</option>
            <option   [value]="1">Sala nr 1</option>
            <option   [value]="2">Sala nr 2</option>

        </select>
        <button mat-button >Dalej</button>
      </form>
    </div>
  </div>
  <app-showform [data]="data" ></app-showform>
</div>
