
.header__title{
    display: flex;
    justify-content: center;
}
.header { 
    grid-area: 6 / 1 / 2 / 6; 
    border-bottom: 1px solid gray;
}
    

.header__buttons{
    display: flex;
    justify-content: flex-end;
    

}
.header__cart-button{
    margin-right: 1vw;
}
.header__login-button{
    text-decoration: none;
    margin-right: 1vw;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

  