<!-- <p>Indywidualny numer zamówienia: {{returnIdByObject(orders,getId(orders))}}</p>
        <table>
            <tr>
                <th>Tytuł filmu</th>
                <th>Sala</th>
                <th>Miejsce</th>
                <th>Data</th>
                <th>Typ biletu</th>
                <th>Suma</th>
            </tr>
           
            <tr *ngFor="let order of orders | keyvalue" [ngClass]="{'disabled': !order.value.seat}">
                <th>{{order.value.movieTitle}}</th>
                <th>{{order.value.screen}}</th>
                <th>{{order.value.id}}</th>
                <th>{{order.value.date}}</th>
                <th >{{order?.value?.seat?.type}}</th>
                <th >{{order?.value?.seat?.price +'PLN'}}</th> 
            </tr>
        
        </table> -->