.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter{
    padding: 3px;
    font-size: 20px;
}
.number{
    padding: 3px;
    font-size: 20px;
    &:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }
}

.addedToReservation{
    background-color: orange;
    color: black;
}