<!-- <p>test works!</p>
<button (click)="getvid()" >klik</button> -->

<!-- 
<div *ngIf="vid$">
    <p  >{{(vid$ | async)}}</p>
</div> -->
<!-- <ul *ngIf="film$ | async as films">
    <li *ngFor="let film of films">
       
    </li>
</ul> -->

 <!-- <div *ngIf="films$ | async as videos">
    <div *ngFor="let video of videos">{{video.title}}</div>
</div>  -->

<!-- <ol *ngIf="films$ | async as films">
    <li *ngFor="let film of returnFilmsById(films,4)">
        {{film.title}} {{film.genre}} {{film.id}}
    </li>
</ol> -->



<h1>Films specs</h1>
<div class="container" *ngIf="show$ | async as shows">
    <div *ngFor="let show of shows">
        <div *ngIf="films$ | async as films">
            <div *ngFor="let film of returnFilmsById(films,1)">
                <h1>Films specs {{film.title}} {{show.hour}} {{show.screen}}</h1>
                <div class="reservation-grid-net" *ngIf="screen$ | async as screens">
                    <div *ngFor="let screen of returnScreenById(screens,show.screen)">
                        <div class="letter" *ngFor="let letter of displayProperAmmountOfLetters(letters,screen.rows), let letterIndex = index" >{{letter}}
                            <button class="number" *ngFor="let number of createNumbersArray(screen.colu), let numberIndex = index"
                            (click)="reservationService.addToTemporaryReservedSeats(letter + (numberIndex + 1))"
              [ngClass]="{'addedToReservation' : reservationService.isSeatInTemporaryReserved(letter + (numberIndex + 1))}" >
              {{number}}</button>
                        </div>
                        <div *ngIf="temporaryReservedSeats$ | async as temporaryReservedSeats">
                            <div *ngFor="let temporaryReservedSeat of temporaryReservedSeats">
                                Wybrane miejsce: {{temporaryReservedSeat}}
                                <form>
                                    <select>
                                        <option *ngFor="let price of show.priceList"> {{price.type}} {{price.price}}</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>