<div class="qr__body-container">
  <mat-card>
    <div class="qr__container">
      <div class="qr__title-container">
        <p class="qr__title">
          Płatność została zrealizowana. Dziękujemy za zakupy w naszym kinie!
        </p>

        <p class="qr__icon-circle">
          <mat-icon class="qr__icon">done</mat-icon>
        </p>
        <p class="qr__title">
          Zobacz swoje zamówienie klikając w poniższy link
        </p>
        <a target="blank" routerLink="/order-generated/{{orderId}}"> Twoje zamówienie (klik)</a>
      </div>

      <div class="qr__img-container"></div>
    </div>
  </mat-card>
</div>
