.reservation__letters{
display: grid;
grid-template-columns: repeat(17,1fr);
/* grid-template-rows:  (1fr); */
margin: auto;
text-align: center;
}

.reservation__ekran{
margin-bottom:30px ;
}




.reservation__number{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}
.reservation__net{
width: 90vw;
margin-top: 30px;
}

.reservation__container{
display: flex;
justify-content: center;
align-items: center;
}
.reservation__title-box{
display: flex;
justify-content: center;
margin-top: 50px;
}
.reservation__display{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 90vw;
    border-bottom: 4px solid grey;

}

.ng{
    background-color: white;
    height: 20vh;
    width: 80vw;
   margin: auto;
    color: black;
}
.aa{
    width: 500px;
    height: 500px;
    background-color:black;
}
.box-container{
height: 75vh;
}