.mytickets{
    &__body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80%;
        flex-direction: column;
    }
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
        gap: 30px;
    }
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 14px;

  
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  *{
    font-size: 20px;
  }
  th{
    border: 1px solid white;
  }

  .bg-grn{
    background-color: green;
  }
  .bg-grn1{
    background-color: yellowgreen;
  }
  