<div class="mytickets__body" *ngIf="mytickets$ | async as mytickets ">
    <div class="mytickets__container">
        <h1 class="mytickets__title">Twoje zamówienia ({{mytickets.length}})</h1>
        <mat-card class="crd" *ngFor="let myticket of mytickets">
            <div class="mytickets__content">
                <table *ngFor="let mytickett of myticket">
                    <tr>
                        <th>Tytuł filmu</th>
                        <th>Fotel</th>
                        <th>Typ biletu</th>
                        <th>Suma</th>
                        <th>Data</th>
                    </tr>
                    <tr >
                        <th>{{mytickett.movieTitle}}</th>
                        <th>{{mytickett.seat.position}}</th>
                        <th>{{mytickett.seat.type}}</th>
                        <th>{{mytickett.seat.price}}</th>
                        <th>{{mytickett.date}}</th>
                    </tr>
                </table>

                <table class="sum">
                    <tr>
                        <th class="bg-grn">Łącznie biletów</th>
                        <th class="bg-grn">Kwota za całość</th>
                    </tr>
                    <!-- <th class="bg-grn1">{{myticket.itemCount}}</th>
                    <th class="bg-grn1">{{myticket.cartPrice}} PLN</th>
                    <p>Płatność została zrealizowana</p>  -->
                </table>

            </div>
            </mat-card>
</div>