.mytickets{
    &__body{
        min-height: 80%;
        margin-bottom: 30px;
    }
    &__container{
        
        margin: 20px;
        gap: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 14px;

  
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  *{
    font-size: 20px;
  }
  th{
    border: 1px solid white;
  }

  .bg-grn{
    background-color: green;
    color: white;
  }
  .bg-grn1{
    background-color: yellowgreen;
  }
  

  .mytickets{
display: flex;
justify-content: center;

    
  }