   
<div class="payment__body-container">
    <div class="payment__container">
      <div class="payment__container-placement">
        <div class="payment__container-title">
            <p class="payment__title">
                Płatność BLIK
            </p>
        </div>
            <div class="payment__blik-logo">
                <img class="payment__blik-logo-img" src="/assets/images/Blik_logo.jpg">
            </div>
            <div class="payment__input-container">
              <form class="payment__form" *ngIf="cart$ | async as cart" (ngSubmit)="submit(cartDTO)">  
                <input
                [formControl]="paymentControl"
                [class.error]="paymentControl.touched && paymentControl.errors"
                class="blik-input"
                placeholder="Kod Blik"
              />
              <ng-container *ngIf="paymentControl.errors as errors">
                <ng-container *ngIf="paymentControl.touched">
                  <p *ngIf="errors['pattern']" class="text-danger">Tylko cyfry</p>
                  <p *ngIf="errors['minlength'] as minLength">
                    Wprowadzono {{ minLength.actualLength }} cyfr, kod BLIK zawiera
                    {{ minLength.requiredLength }}
                  </p>
                  <p *ngIf="errors['maxlength'] as maxLength">
                    Max liczba cyfr to {{ maxLength.requiredLength }}
                  </p>
                  <p *ngIf="errors['required']">Te pole jest obowiązkowe!</p>
                </ng-container>
              </ng-container>
              <div class="modal-nav">
              </div>
              
                <button type="submit" >Płacę!</button>
                
             
            
            </form>
          </div>
    </div>


   
</div> 


