/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    
}

html, body { height: 100%; position: relative;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

footer{
    
    width: 100% ;
    height: 10%;
   background-color: black;
}

:root{
    $primary: black;
}
