<div class="date__container">
<div class="date__menu"  >
    <button (click)="setSelectedDate(date)" 
    [disabled]="checkPast(i,dateService.pastDateLength)"
    class="date__buttons" 
    [ngClass]="{}"
    [ngClass]="{'dupa' : date === selectedDate  }"
    *ngFor="let date of dateService.dates, let i = index" 
    >{{ date | date:'d/MM'}} </button>
    
    <!-- [routerLink]="['/app-home', date.toISOString().slice(0, 10)]">{{ date | date:'d/MM'}} -->
</div>
</div> 
<!-- [routerLink]="['/', date.toISOString().slice(0, 10)]" -->
 <div  class="date__menu" >
  <p>
    Wybrana data : {{ selectedDate | date:'YYYY-MM-dd' }}
  </p>
 
 </div> 
         


<!-- 
<div class="wrapper" *ngIf="date$ | async as date">
    <button
      class="wrapper__date-box"
      *ngFor="let item of date"
      [disabled]="item.isDisabled"
      [ngClass]="{ selected: item.day == (selectedDay$ | async) }"
      (click)="changeDay(item.day)"
    >
      {{ item.dateShortcut }}
    </button>
  </div>
   -->
   